div{
    margin-top: 50px;
    text-align: center;
    
}

h1{
    font-size: 80px;
    font-family: Impact;
    font-weight: 900;
}

p{
    font-size: 35px;
    font-weight: 400;
    
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

button{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
button:hover{
    background-color: green;
}